<%- layout("/layouts/boilerplate.ejs") -%>

<style>
  @media (max-width: 768px) {
    .signup {
      margin-left: -3.5rem;
    }
    h1 {
      width: 80vw;
      font-size: 1.5rem;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    form input {
      width: 60vw !important;
    }
    form button {
      width: 60vw;
    }
  }
</style>

<div class="row mt-3 signup">
  <div class="col-6 offset-3">
    <h1>SignUp on Wanderlust</h1>
    <form action="/signup" method="post" class="needs-validation" novalidate>
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="user[username]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter username</div>
      </div>
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="user[email]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter Email</div>
      </div>
      <div class="mb-3 mt-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="user[password]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter password</div>
      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>